
<h1> <%= @article.title %> </h1> <%= link_to article_path(@article), method: :delete, data: { confirm: 'Are you sure you want to remove this article?' } do %>
    <i class="far fa-trash-alt" ></i>
    <% end %>

<p> <%= @article.content %>  </p>

<p>
  <%= link_to 'edit', edit_article_path(@article),type: 'button', class: 'btn btn-warning' %>
</p>

<p>
  <%= link_to 'delete', article_path(@article), method: :delete, data: { confirm: 'Are you sure you want to remove this task?' }, type: 'button', class: 'btn btn-danger' %>
</p>

<p>
  <%= link_to 'back to articles', articles_path, type: 'button', class: 'btn btn-secondary'%>
</p>
